/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand:wght@300&family=Space+Mono&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/footer.css');

/* Utilities */
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */
